body {
    margin: 0;
}

img {
    width: 25rem;
}

.firstSection {
    background-color: #1F2937;
    width: 100vw;
    min-height: 43vh;
    font-family: 'Roboto', sans-serif;
}

.logo {
    font-size: 1.5rem;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 1.1875rem;
}

a {
    text-decoration: none;
    color: #8e929a;
    font-size: 1.125rem;
}

.mainText {
    font-size: 3rem;
    color: #F9FAF8;
    font-weight: 800;
}

.secondaryText {
    color: #8e929a;
    font-size: 1.125rem;
    margin-top: 0.5625rem;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 0.5rem;
    border: 0;
    width: 6.25rem;
    margin-top: 1.25rem;
    font-size: 1.1875rem;
    padding: 0.3125rem;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0.1875rem 0.625rem;
}

.firstSectionContent {
    display: flex;
    margin-top: 3.9375rem;
    justify-content: center;
    gap: 1.875rem;
}

.textAndButton {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 25rem;
}